body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:cornflowerblue;
    overflow: hidden;
}
.Calculator{
    width: 400px;
    height: 300px;
    position: relative;
    margin: 25px;
}